<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>972341826694-0q3vatl3qtsl4n3oo4p3c3m6ri7cu561.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972341826694-0q3vatl3qtsl4n3oo4p3c3m6ri7cu561</string>
	<key>API_KEY</key>
	<string>AIzaSyByw9xBbm3CAbyb11kZ_ErRQeUL82VzhuE</string>
	<key>GCM_SENDER_ID</key>
	<string>972341826694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ciel.fameet</string>
	<key>PROJECT_ID</key>
	<string>fameet-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>fameet-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972341826694:ios:eacd5097d98efd2f</string>
	<key>DATABASE_URL</key>
	<string>https://fameet-ios.firebaseio.com</string>
</dict>
</plist>