<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1095323130143-hkcs1uoa1s44olq31r9q45sj9tvad4hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095323130143-hkcs1uoa1s44olq31r9q45sj9tvad4hd</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ4nv6fY2ZbklJbjvT1YQ0CIyTBXWKvEg</string>
	<key>GCM_SENDER_ID</key>
	<string>1095323130143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ciel.fameet</string>
	<key>PROJECT_ID</key>
	<string>fameet-1</string>
	<key>STORAGE_BUCKET</key>
	<string>fameet-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095323130143:ios:eacd5097d98efd2f</string>
	<key>DATABASE_URL</key>
	<string>https://fameet-1.firebaseio.com</string>
</dict>
</plist>